.proyects_container {
  padding: 5rem min(10%, 12rem);
  background-color: var(--primary-color);
}

.proyects_container h2 {
  font-family: var(--font-titles);
  font-size: 2.5rem;
  color: var(--background-color);
  margin-bottom: 2rem;
}

.categories_proyects {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.category a {
  font-family: var(--font-titles);
  font-size: 1.5rem;
  color: var(--background-color);
  text-decoration: none;
}

.category img {
  width: 300px;
  aspect-ratio: 9 / 16;
}

@media screen and (max-width: 768px) {
  .proyects_container {
    padding: 5rem 2rem;
  }

  .categories_proyects {
    flex-direction: column;
    align-items: center;
  }

  .category a {
    font-size: 1.2rem;
  }

  .category img {
    width: 100%;
    max-width: 300px;
  }
}