.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: var(--primary-color);
}

.logo {
  width: min(145px, 100%);
}

.page_title {
  font-family: var(--font-titles);
  font-size: clamp(1.2rem, 5vw, 2.2rem);
  color: var(--background-color);
}